on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - name: Install packages
      - run: make packages
  build:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v2
      - name: Build our code
      - run: make build
  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: coveralls
      - run: |
          lcov -t "tests/test_film" -o coverage.info -c -d find/ -d list/ && genhtml -o report coverage.info
  