on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - run: make packages
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 
    - run: make packages && make build
    # - name: Upload artifacts
      # uses: actions/upload-artifact@v2
      # with:
      #   path: main.out
  test:
    runs-on: ubuntu-latest
    container: leshiy1295/gcc_linters
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - run: make packages && make build && make test && make report
      - name: coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.info
