on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - run: make packages
  build:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v2
      - name: Install GTest
        run: |
          git clone https://github.com/google/googletest.git
          cd googletest && mkdir build && cd build && cmake .. && cmake --build . && sudo cmake --install . && cd ../..
      - name: Build
        run: |
          make build
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: |
            main.out