on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - name: Install packages
      - run: make packages
  # build:
  #   runs-on: ubuntu-latest
  #   needs: [check]
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Install GTest
  #       run: |
  #         git clone https://github.com/google/googletest.git
  #         cd googletest && mkdir build && cd build && cmake .. && cmake --build . && sudo cmake --install . && cd ../..
  #     - name: Build
  #       run: |
  #         make build
  build:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v2
      - name: Build our code
      - run: make build
  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: coveralls
      - run: |
          lcov -t "tests/test_film" -o coverage.info -c -d find/ -d list/ && genhtml -o report coverage.info
        # uses: coverallsapp/github-action@master
        # with:
        #   github-token: ${{ secrets.GITHUB_TOKEN }}
        #   path-to-lcov: coverage.info